body {
  margin: 0px;
  font-family: "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #212529;
  text-align: left;
  background-color: #fff;
  display: block;
  height: 100vh;
}

h2 {
  margin-top: 0;
  margin-bottom: .5rem;
  font-weight: 500;
  line-height: 1.2;
  font-size: 2rem;
}

button {
  margin: 0;
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
}

canvas {
  border: 1px solid #c3c3c3;
}

.noteText {
  margin-right: 2px;
  padding-top: 5px;
  font-size: 12px;
}

.output {
  font-weight: bold;
  font-size: 25px;
}

*,
::after,
::before {
  box-sizing: border-box;
}

.header {
  background-color: #3399FF;
  padding-right: 15px;
  padding-left: 15px;
  min-width: 310px;
}

.headerLabel {
  color: #f8f9fa;
  padding-top: 15px;
  padding-bottom: 13px;
}

.content {
  padding: 0px;
  background-color: #f8f9fa;
  display: flex;
  height: calc(100% - 75px);
}

.navRow {
  height: 35px;
  background-color: #292e33;
  color: #f8f9fa;
  font-size: 1.25rem;
  font-weight: 300;
  width: 100%;
  padding-top: 4px;
  margin-bottom: 15px;
}

.inputGroup {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  padding-bottom: 8px;
  padding-left: 5px;
}

.inputGroupText {
  padding: .375rem .75rem;
  font-size: 1rem;
  color: #495057;
  text-align: center;
  white-space: nowrap;
  background-color: #e9ecef;
  border: 1px solid #ced4da;
  border-radius: .25rem;
}

.inputGroupName {
  width: 150px;
  border-top-right-radius: 0px;
  border-bottom-right-radius: 0px;
}

.inputGroupUnits {
  width: 40px;
  border-top-left-radius: 0px;
  border-bottom-left-radius: 0px;
}

.formControl {
  display: block;
  width: 110px;
  padding: .375rem .75rem;
  font-size: 1rem;
  color: #495057;
  background-color: #fff;
  border: 1px solid #ced4da;
}

.navLabel {
  width: 100%;
  font-size: large;
  text-align: center;
  margin: 0px;
}

.paramBar {
  position: relative;
  display: flex;
  flex-flow: column;
  margin: 0px;
  padding: 0px;
  color: #f8f9fa;
  background-color: #343a40;
  width: 310px;
  min-width: 310px;
  height: 100%;
}

.canvasWrapper {
  padding: 15px;
  padding-left: 25px;
}

/*buttons*/
.button {
  cursor: pointer;
  color: #fff;
  text-align: center;
  border: 1px solid;
  padding: .375rem .75rem;
  border-radius: .25rem;
  transition: background-color .15s ease-in-out, border-color .15s ease-in-out;
  outline: none;
}

.buttonGo {
  width: 40px;
  padding-left: 7px;
  background-color: #007bff;
  border-color: #006fe6;
  border-top-left-radius: 0px;
  border-bottom-left-radius: 0px;
}

.buttonGo:hover {
  background-color: #006fe6;
  border-color: #0063cc;
}

.buttonSuccess {
  width: 96.5%;
  background-color: #2db94d;
  border-color: #28a445;
  margin-bottom: 5px;
  margin-left: 5px;
}

.buttonSuccess:hover {
  background-color: #28a445;
  border-color: #23903c;
}

.buttonNext {
  width: 96.5%;
  background-color: #d92638;
  border-color: #c32232;
  margin-left: 5px;
}

.buttonNext:hover {
  background-color: #c32232;
  border-color: #ad1f2d;
}
