html {
  line-height: 1.15;
  -ms-text-size-adjust: 100%; /*Equivalent to 2*/
  -webkit-text-size-adjust: 100%; /*Equivalent to 2*/
}

body {
	margin: 0;
	font-family: "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

div {
	border-radius: 5px;
	margin: 0.5rem 0 1rem 0;
	padding: 24px;
}

h1, h2, h3 {
  font-weight: 400;
  line-height: 1.3;
}

h1 {
  font-size: 3.2rem;
  line-height: 110%;
  margin: 2.8rem 0 1.68rem 0;
}

h2 {
  font-size: 2.56rem;
  line-height: 110%;
  margin: 2.3733333333rem 0 1.424rem 0;
}

h3 {
  font-size: 1.92rem;
  line-height: 110%;
  margin: 1.9466666667rem 0 1.168rem 0;
}

textarea {
  margin: 8px 0 16px 0;
}

h1#site-title {
	color: #0288d1;
	margin: 16px;
}

div.container {
	margin: 24px 16px 24px 16px;
}

div.divider {
  height: 1px;
  overflow: hidden;
  background-color: #e0e0e0;
  margin: 0 0 16px 0;
  padding: 0;
}

.btn {
  border: none;
  border-radius: 2px;
  display: inline-block;
  height: 36px;
  line-height: 36px;
  padding: 0 16px;
  font-size: 14px;
  outline: 0;
  text-transform: uppercase;
  vertical-align: middle;
  -webkit-tap-highlight-color: transparent;
  text-decoration: none;
  color: #fff;
  background-color: #26a69a;
  text-align: center;
  letter-spacing: .5px;
  -webkit-transition: background-color .2s ease-out;
  transition: background-color .2s ease-out;
  cursor: pointer;
}

.btn.disabled
.btn[disabled] {
  pointer-events: none;
  background-color: #DFDFDF !important;
  -webkit-box-shadow: none;
          box-shadow: none;
  color: #9F9F9F !important;
  cursor: default;
}

.btn.disabled:hover
.btn[disabled]:hover {
  background-color: #DFDFDF !important;
  color: #9F9F9F !important;
}

.btn:focus {
  background-color: #1d7d74;
}

.btn:hover {
  background-color: #2bbbad;
}

textarea#console-output {
  width: 100%;
  height: 100%;
}

.shadow-background {
  -webkit-box-shadow: 0 8px 17px 2px rgba(0, 0, 0, 0.14), 0 3px 14px 2px rgba(0, 0, 0, 0.12), 0 5px 5px -3px rgba(0, 0, 0, 0.2);
          box-shadow: 0 8px 17px 2px rgba(0, 0, 0, 0.14), 0 3px 14px 2px rgba(0, 0, 0, 0.12), 0 5px 5px -3px rgba(0, 0, 0, 0.2);
}

.shadow-background:hover {
  -webkit-box-shadow: 0 24px 38px 3px rgba(0, 0, 0, 0.14), 0 9px 46px 8px rgba(0, 0, 0, 0.12), 0 11px 15px -7px rgba(0, 0, 0, 0.2);
          box-shadow: 0 24px 38px 3px rgba(0, 0, 0, 0.14), 0 9px 46px 8px rgba(0, 0, 0, 0.12), 0 11px 15px -7px rgba(0, 0, 0, 0.2);
}
