html {
  line-height: 1.15;
  -ms-text-size-adjust: 100%; /*Equivalent to 2*/
  -webkit-text-size-adjust: 100%; /*Equivalent to 2*/
}

body {
  margin: 0;
  font-family: "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

div {
  border-radius: 5px;
  margin: 0.5rem 0 1rem 0;
  padding: 24px;
}

h1, h2, h3, h4{
  font-weight: 400;
  line-height: 1.3;
}

h1 {
  font-size: 3.2rem;
  line-height: 110%;
  margin: 2.8rem 0 1.68rem 0;
}

h2 {
  font-size: 2.56rem;
  line-height: 110%;
  margin: 2.4rem 0 1.4rem 0;
}

h3 {
  font-size: 1.92rem;
  line-height: 110%;
  margin: 2rem 0 1.2rem 0;
}

textarea {
  margin: 8px 0 16px 0;
}

input {
  outline: none;
  border:none;
  border-bottom: 2px solid #aaaaaa;
  margin: 8px;
  padding: 8px;
  font-size: 16px;
  transition: border-bottom 0.1s ease-in;
}
input:focus {
  border-bottom: 2px solid #1d7d74;
}
input:hover {
  border-bottom: 2px solid #2bbbad;
}

h1#site-title {
	color: #0288d1;
	margin: 16px;
}

div.container {
	margin: 24px 16px 24px 16px;
  display: flex;
}

div.container .flex-2{
  -ms-flex: 2;
  flex: 2;
}

div.container .flex-10 {
  -ms-flex: 10;
  flex: 10;
}

div.divider {
  height: 1px;
  overflow: hidden;
  background-color: #e0e0e0;
  margin: 0 0 16px 0;
  padding: 0;
}

.btn {
  border: none;
  border-radius: 2px;
  display: inline-block;
  height: 36px;
  line-height: 36px;
  padding: 0 16px;
  font-size: 14px;
  outline: 0;
  text-transform: uppercase;
  vertical-align: middle;
  -webkit-tap-highlight-color: transparent;
  text-decoration: none;
  color: #fff;
  background-color: #26a69a;
  text-align: center;
  letter-spacing: .5px;
  -webkit-transition: background-color .2s ease-out;
  transition: background-color .2s ease-out;
  cursor: pointer;
}

.btn.disabled
.btn[disabled] {
  pointer-events: none;
  background-color: #DFDFDF !important;
  -webkit-box-shadow: none;
          box-shadow: none;
  color: #9F9F9F !important;
  cursor: default;
}

.btn.disabled:hover
.btn[disabled]:hover {
  background-color: #DFDFDF !important;
  color: #9F9F9F !important;
}

.btn:focus {
  background-color: #1d7d74;
}

.btn:hover {
  background-color: #2bbbad;
}

.lowerArea{
  display: flex;
  margin: 0;
  padding: 0;
}

textarea#console-output {
  /*needed to override this to see output*/
  /*width: calc(100% - 200px);*/
  width: 600px;
  height: 700px;
}